<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="showInHex" value="false"/>
    <add key="autoNewLine" value="false"/>
    <add key="showSend" value="true"/>
    <add key="sendInHex" value="false"/>
    <add key="sendNewLine" value="false"/>
    <add key="timeStamp" value="false"/>
    <add key="period" value="10"/>
    <add key="baud" value="9600"/>
    <add key="dataBits" value="8"/>
    <add key="stopBits" value="One"/>
    <add key="parity" value="None"/>
  </appSettings>
</configuration>